/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * como:
 *   - http://typekit.com/eulas/00000000000000007735c43f
 *   - http://typekit.com/eulas/00000000000000007735c442
 *   - http://typekit.com/eulas/00000000000000007735c447
 *   - http://typekit.com/eulas/00000000000000007735c44b
 *   - http://typekit.com/eulas/00000000000000007735c450
 *   - http://typekit.com/eulas/00000000000000007735c454
 *   - http://typekit.com/eulas/00000000000000007735c457
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/9d0249/00000000000000007735c442/30/l') format('woff2'),
    url('https://use.typekit.net/af/9d0249/00000000000000007735c442/30/d') format('woff'),
    url('https://use.typekit.net/af/9d0249/00000000000000007735c442/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/9d0249/00000000000000007735c442/30/l') format('woff2'),
    url('https://use.typekit.net/af/9d0249/00000000000000007735c442/30/d') format('woff'),
    url('https://use.typekit.net/af/9d0249/00000000000000007735c442/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

// @font-face {
//   font-family: 'como-pcc';
//   src: url('https://use.typekit.net/af/263b2d/00000000000000007735c447/30/l') format('woff2'),
//     url('https://use.typekit.net/af/263b2d/00000000000000007735c447/30/d') format('woff'),
//     url('https://use.typekit.net/af/263b2d/00000000000000007735c447/30/a') format('opentype');
//   font-display: swap;
//   font-style: normal;
//   font-weight: 400;
//   font-stretch: normal;
// }

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/e67196/00000000000000007735c44b/30/l') format('woff2'),
    url('https://use.typekit.net/af/e67196/00000000000000007735c44b/30/d') format('woff'),
    url('https://use.typekit.net/af/e67196/00000000000000007735c44b/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/e67196/00000000000000007735c44b/30/l') format('woff2'),
    url('https://use.typekit.net/af/e67196/00000000000000007735c44b/30/d') format('woff'),
    url('https://use.typekit.net/af/e67196/00000000000000007735c44b/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/025564/00000000000000007735c450/30/l') format('woff2'),
    url('https://use.typekit.net/af/025564/00000000000000007735c450/30/d') format('woff'),
    url('https://use.typekit.net/af/025564/00000000000000007735c450/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/16112b/00000000000000007735c454/30/l') format('woff2'),
    url('https://use.typekit.net/af/16112b/00000000000000007735c454/30/d') format('woff'),
    url('https://use.typekit.net/af/16112b/00000000000000007735c454/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'como-pcc';
  src: url('https://use.typekit.net/af/e375a3/00000000000000007735c457/30/l') format('woff2'),
    url('https://use.typekit.net/af/e375a3/00000000000000007735c457/30/d') format('woff'),
    url('https://use.typekit.net/af/e375a3/00000000000000007735c457/30/a') format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}
